*.o
*.a
*.pdf
*.log
*.toc
*.aux
*.pyc
wiggletools
.*.swp
tags
test*.sh
bin
samtools/bcftools/bcftools
samtools/misc/ace2sam
samtools/misc/bamcheck
samtools/misc/maq2sam-long
samtools/misc/maq2sam-short
samtools/misc/md5fa
samtools/misc/md5sum-lite
samtools/misc/wgsim
samtools/samtools
